# Binaries
bin/
*.exe
*.out
*.test

# Build cache
*.o
*.a
*.so

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Go modules cache
vendor/

# Env files
.env

# Cache
.gocache

# Debug Files
__debug_bin*
